<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Plane</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>UPDATE PLANE</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 150px">
        <form id="dataMain" action="#" th:action="@{/ui/plane/update}" th:object="${plane}"
              method="POST">
            <label for="num1">Id</label>
            <input id="num1" readonly th:field="*{id}"/>
            <label for="num2">Name</label>
            <input id="num2" th:field="*{name}">
            <label for="num3">Model</label>
            <input id="num3" th:field="*{model}">
            <label for="num4">Civil</label>
            <div id="num4">
                <label for="id">Id</label>
                <select id="id" style="transition: 0.5s" th:field="*{civil.id}">
                    <option th:each="civilListId: ${civilListId}"
                            th:value="${civilListId.id}" th:text="${civilListId.id}">
                    </option>
                </select>
                <!--<input id="num3" th:field="*{civil.id}"  required>-->
                <!--<a th:href="@{/ui/civil/showNewForm}">
                    <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">NEW</button>
                </a>-->
            </div>
            <label for="num5">Issue</label>
            <input id="num5" type="number" th:field="*{issue}">
            <label for="num6">Aircrew</label>
            <input id="num6" type="number" th:field="*{aircrew}">
            <label for="num7">Payload</label>
            <input id="num7" type="number" th:field="*{payload}">
            <label for="num8">Height</label>
            <input id="num8" type="number" th:field="*{height}">
            <label for="num9">Length</label>
            <input id="num9" type="number" th:field="*{length}">
            <label for="num10">Wingspan</label>
            <input id="num10" type="number" th:field="*{wingspan}">
            <label for="num11">Ceiling</label>
            <input id="num11" type="number" th:field="*{ceiling}">
            <button form="dataMain" type="submit" class="updateBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">DONE</button>
        </form>
    </div>
    <hr>

    <a th:href="@{/ui/plane/get/all}">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
</body>
</html>