<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Civil List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div style="position: absolute; left: 50%; transform: translate(-50%, 0)">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>IsBusiness</th>
                    <th>Seats</th>
                    <th>IsBaggage</th>
                    <th>CreatedAt</th>
                    <th>ModifiedAt</th>
                    <th class="options" colspan="2">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="civil: ${civilList}">
                <td th:text="${civil.id}"></td>
                <td th:text="${civil.isBusiness}"></td>
                <td th:text="${civil.seats}"></td>
                <td th:text="${civil.isBaggage}"></td>
                <td th:text="${civil.createdAt}"></td>
                <td th:text="${civil.modifiedAt}"></td>
                <td>
                    <a th:href="@{/ui/civil/delete/{id}(id=${civil.id})}">
                        <button class="btn delBtn" style="transition: 0.5s; padding: 0">Delete</button>
                    </a>
                    <a th:href="@{/ui/civil/showUpdateForm/{id}(id=${civil.id})}">
                        <button class="btn uppBtn" style="transition: 0.5s; padding: 0">Update</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href = "@{/ui/civil/showNewForm}">
            <button class="btn addBtn" style="transition: 0.5s; padding: 0">Add</button>
        </a>
    </div>
</body>
</html>