<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Civil</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="segment">
    <h1>ADD CIVIL</h1>
</div>
<div class="updateForm" style="margin-bottom: 150px">
    <form action="#" th:action="@{/ui/civil/add}" th:object="${civil}"
          method="POST">
        <label for="num2">IsBusiness</label>
        <select id="num2" th:field="*{isBusiness}"  required>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <label for="num3">Seats</label>
        <input id="num3" type="number" th:field="*{seats}"  required>
        <label for="num4">IsBaggage</label>
        <select id="num4" th:field="*{isBaggage}"  required>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
    </form>
</div>
<hr>

<a th:href="@{/ui/civil/get/all}">
    <button class="backBtn" style="padding: 0">Back</button>
</a>
</body>
</html>