<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Tribune</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body style="text-align: center">
<div>
    <div>
        <form action="#" th:action="@{/ui/tribune/add}" th:object="${tribune}"
              method="POST">
            <h1>Add Tribune</h1>

            <table class="edit">
                <tr>
                    <td><label>Name</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{name}" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><label>Stage Area</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{stageArea}" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><label>Hall Capacity</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{hallCapacity}" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><label>Area</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{area}" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

            </table>
            <br>
            <br>
            <div class="control">
                <div class="buttonBack">
                    <a th:href = "@{/ui/tribune/get/all}" class="containerButton">Back</a>
                </div>
                <button type="submit">Add</button>
            </div>
        </form>

        <br>
    </div>
</div>
</body>
<script>

    let table = document.querySelector(".edit");
    table.setAttribute("class", "edit border");

</script>

</html>