<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Organizer</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body style="text-align: center">
<div>
    <div>
        <form action="#" th:action="@{/ui/organizer/add}" th:object="${organizer}"
              method="POST">
            <h1>Add Organizer</h1>

            <table class="edit">
                <tr>
                    <td><label>First Name</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{firstName}" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><label>Second Name</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{secondName}" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><label>Year</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{year}" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><label>Experience</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{experience}" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <div class="control">
                <div class="buttonBack">
                    <a th:href = "@{/ui/organizer/get/all}" class="containerButton">Back</a>
                </div>
                <button type="submit">Add</button>
            </div>
        </form>

        <br>
    </div>
</div>
</body>
<script>

    let table = document.querySelector(".edit");
    table.setAttribute("class", "edit border");

</script>

</html>